body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    margin: 50px auto;
    max-width: 400px;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form {
    text-align: left;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #0056b3;
}
body {
    background-image: url('https://www.bing.com/ck/a?!&&p=7dafe8cc0aeda630JmltdHM9MTY5NzQxNDQwMCZpZ3VpZD0xMTlmZDA1OC0zZDlmLTZjZWMtMTBhMC1jMjAzM2MzMjZkODQmaW5zaWQ9NTU1NA&ptn=3&hsh=3&fclid=119fd058-3d9f-6cec-10a0-c2033c326d84&u=a1L2ltYWdlcy9zZWFyY2g_cT1DT0xMRUNUSU9OIE9GIFdBU1RFIE1BTkFHRU1FTlQgUElDVFVSRVMmRk9STT1JUUZSQkEmaWQ9MUFGQkQ0MUZDQUUxQkY1M0Y2MkRBRjE2MDY3MDEwREYzOUE0RkMxQg&ntb=1');
    background-size: cover;
    background-repeat: no-repeat;
}
img {
    opacity: 0.5;
  }